.content{
  .main{
    .card{
      .textArea{
        .buttons{
          .wrong{
            span{
              color:black;
            }
            color: #ff0000;
          }
          .success{
            span{
              color:black;
            }
            color: #41d117;
          }
          button{
            margin-top: 15px;
            width: 20%;
            height: 40px;
            border-radius: 15px;
            border: #ccc solid 1px;
            background: #30bd30;
            color: white;
            font-size: 20px;
            font-weight: 500;
          }
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          width: 100%;
          align-items: center;
          justify-content: space-evenly;
        }
        input{
          width: 50%;
          height: 40px;
          border: 1px solid #ccc;
          border-radius: 15px;
          font-weight: 500;
          font-size: 20px;
          text-align: center;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        width: 100%;
        height: 150px;
        background-color: white;
        border-radius: 15px;
      }
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    .words{
      span{
        div{
          p{
            font-size: 25px;
            margin-right: 20px;
            font-weight: 500;
            white-space: pre;
            width: 100%;
            overflow: auto;
          }
          text-align: -webkit-center;
          width: 100%;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        position: relative;
        justify-content: center;
        left: 47126px;
      }
      display: flex;
      flex-direction: row;
      max-height: 360px;
      flex-wrap: nowrap;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      padding: 20px;
      align-content: center;
      background-color: white;
    }
    margin-top: 20px;
  }
  .header{
    .left{
      p{
        margin-top: 20px;
        margin-left: 20px;
      }
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }
    .right{
      .fa-github{
        color: #3c3a3a;
      }
      .fa-instagram{
        color: #e1306c;
      }
      .fa-twitter{
        color: #1da1f2;
      }
      .fa-linkedin{
        color: #0077b5;
      }
      width: 140px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
  }
  .leaderboard{
    input{
      width: 300px;
      margin-bottom: 20px;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 15px;
      font-weight: 500;
      font-size: 20px;
      text-align: center;
    }
    .user{
      td, th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
      }
      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
      }
      tr:nth-child(even){background-color: #f2f2f2;}
      tr:hover {background-color: #ddd;}
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    p{
      margin-top: -10px;
    }
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-around;
  }
}
