<div class="content">
  <div class="header">
    <div class="left">
      <h1>Umut Can Arda</h1>
      <p>FlySquare</p>
    </div>
    <div class="right">
      <a href="https://www.github.com/flysquare" target="_blank"><i class="fa fa-github fa-lg"></i></a>
      <a href="https://twitter.com/flysquare0" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="https://www.instagram.com/fly.square/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/flysquare/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
    </div>
  </div>
  <div class="main">
    <div class="words">
      <span [style.transform]="'translateX('+transformPx+'px)'">
        <div *ngFor="let word of words">
          <p [style.color]="word.status === false ? 'green' : (word.status === null ? 'red' : '')">{{word.name}}</p>
        </div>
      </span>
    </div>
    <div class="card">
      <div class="textArea">
        <input #input autofocus [disabled]="transformPx === 0" [(ngModel)]="type" (keydown.space)="false" (keyup)="inputChange($event)"
               type="text">
        <div class="buttons">
          <h3 class="wrong">Wrong Count: <span>{{wrongCount}}</span></h3>
          <button style="background-color: #30bd30" *ngIf="transformPx === 0" (click)="startGame()">Start Game</button>
          <button style="background-color: #bd3030" *ngIf="transformPx !== 0" (click)="finishGame()">Finish Game - Time: {{time}}</button>
          <h3 class="success">Success Count: <span>{{currentCount - wrongCount}}</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="leaderboard">
    <h1>Leader Board</h1>
    <p>If you want to join the leaderboard, you should the enter your username!</p>
    <input [disabled]="transformPx !== 0" [(ngModel)]="username" placeholder="Enter Username" (keydown.space)="false" (keydown)="keyPressAlphaNumeric($event);" (keyup)="inputChange($event)"
           type="text">
    <div class="user">
      <table>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Time</th>
          <th>Success Count</th>
        </tr>
        <tr *ngFor="let user of leaderboard;let i = index">
          <td>#{{i+1}}</td>
          <td>{{user.username}}</td>
          <td>{{user.time * 1000 | date:'mm:ss'}}</td>
          <td>{{user.success_count}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
